
body {
  font-family: "Montserrat";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #ffffff;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff75c6;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.nav-item {
  padding: 0 18px;
  color: rgb(255, 255, 255);
}
.nav-item:hover{
  background-color: rgb(4, 0, 255);
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: white
}


/* Title Section */

#title {
  background-color: #ff75c6;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 130%;
  height: 180%;
  transform: rotate(0deg);
  position: absolute;
  right: -38%;
  top: -28%;
}
.bold{
  font-weight: bold;
}
.about-color{
  color: #1900ff
}
.nav-color{
  color: rgb(255, 255, 255);
  background-color: black;
  font-weight: bold;
}

/* Features Section */

#features {
  position: relative;
  color: white;
}

.feature-title {
  font-size: 1.4rem;
}

.feature-box {
  padding: 1.2%;
}

.icon {
  color: #1900ff;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ff75c6;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  height: 20%;
  border-radius: 80%;
  padding: auto;
  margin: auto;

}

.feat{
  margin: auto;
  padding: auto;
}

/* Footer Section */

.contact{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 0.8rem;
}
.copy{
color: rgb(255, 255, 255);
font-weight: bold;
bottom: 1%;
}
.foot-head{
  color:rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
}
 /* background secotin */
    .back{ 
background-image: url('../images/file.jpg');
    background-color: #cccccc;
  height: 450px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}
.back2{
  background-image: url('../images/background-4.jpg');
  opacity: 1.5;
      background-color: #cccccc;
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }

.back3{
  background-image: url('../images/background-3.jpg');
  opacity: 1.5;
      background-color: #cccccc;
    height: 350px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }
  .back4{
    background-image: url('../images/background-2.jpg');
        background-color: #cccccc;
      height: 350px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
    }
/* background ends */

.social-icon {
  margin: 20px 10px;
  color: #1900ff;
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
    font-size: 10%;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    size:cover;
    width: 110%;
    height: 110%;
  }
  .social-icon {
    margin: 20px 10px;
    color: #1900ff;
    font-size: 100%;
  }
}
